@model IEnumerable<PaginaPerfil_V1_net_4_6.Modelo.ListContactos>

@{
    ViewData["Title"] = "Contacto";
    Layout = "_OnePage";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Agregar contacto</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
        </td>
    </tr>
}
</table>
